.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Ultra' , serif;
  font-size: 48px;
  height: 100px;
  justify-content: center;
  line-height: 0.6;
  padding: 15px 0 30px;
  text-align: center;
  text-shadow: 1px 4px 6px rgba(0, 0, 0, 1);
  white-space: pre-wrap;
}

.super {
  color: white;
}

.trunfo {
  color: var(--color-cta-primary);
}
