.form_new_card {

  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  justify-content: space-between;
}

.card_front {
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgb(0 0 0);
  height: 100%;
  overflow: hidden;
  padding: 50px 20px 20px;
  position: relative;
  width: 100%;
}

.header_card_front {
  align-items: center;
  display: flex;

  /* justify-content: space-between; */
  gap: 10px;
  height: 40px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.heder_card_title {
  flex-grow: 2;
  font-size: 18px;
  font-weight: 900;
  padding-left: 20px;
}


.descripition {
  background-color: white;
}


.footer_form_card {
  align-items: center;

  /* background-color: violet; */
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.rare_input {
  flex-grow: 1;
}

.super_trunfo {
  width: 100px;
}


.save_btn {
  align-self: center;
  background-color: var(--color-cta-primary);
  border: none;
  border-radius: 40px;
  color: white;
  height: 40px;

  /* margin-top: 12px; */
  width: 178px;
}

.container_power {

  /* background-color: tomato; */
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr 2fr;
  row-gap: 5px;
}

.power_title {
  font-size: 14px;
  font-weight: 400;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/* .attr1 {
  display: none;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.attr2 {
  display: none;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.attr3 {
  display: none;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
} */

.remaining_power {
  color: var(--color-cta-primary);
  font-size: 14px;
  font-weight: 600;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  text-align: right;
}

.remaining_power_value {
  font-size: 18px;
  font-weight: 900;
}

/* .container_power > label {
  background-color: rgb(23, 80, 129);
  display: none;
} */
