.form_new_card {

  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  justify-content: space-between;
}

.card_front {
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgb(0 0 0);
  height: 100%;
  overflow: hidden;
  padding: 50px 20px 20px;
  position: relative;
  width: 100%;
}

.header_card_front {
  align-items: center;
  display: flex;

  /* justify-content: space-between; */
  gap: 10px;
  height: 40px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.heder_card_title {
  flex-grow: 2;
  font-size: 18px;
  font-weight: 900;
  padding-left: 20px;
}


.descripition {
  background-color: white;
}


.footer_form_card {
  align-items: center;

  /* background-color: violet; */
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.rare_input {
  flex-grow: 1;
}

.super_trunfo {
  width: 100px;
}

.remaining_power {
  color: var(--color-cta-primary);
  font-size: 14px;
  font-weight: 600;
  text-align: right;
}

.remaining_power_value {
  font-size: 18px;
  font-weight: 900;
}

.save_btn {
  align-self: center;
  background-color: var(--color-cta-primary);
  border: none;
  border-radius: 40px;
  color: white;
  height: 40px;

  /* margin-top: 12px; */
  width: 178px;
}
