.search_menu_container {
  align-items: center;
  background-color: tomato;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: -100%;
  position: absolute;
  transition: all 1.5s ease-in-out;
  width: 100%;
  z-index: 9;
}

.search_menu_container.active {
  background-color: violet;
  left: 0;
}
