html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#conteiner_NewCard {
  background-color: #023031;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
}

#content_AddNewCard {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  /* width: 50vw; */
}

#add_card {
  border: solid 1px brown;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20vw;
  max-width: 300px;
}
