html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.build_container {
  background: url('./img/fundo_site.png');
  background-size: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.content_PreviewNewCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px 40px;
}

.content_AddNewCard h2, .content_PreviewNewCard h2 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.content_PreviewNewCard h2 {
  color: white;
}

.AddNewCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  width: 20vw;
}

.PreviewNewCard h3 {
  background: #10a1a3;
  border-radius: 10px 10px 0 0;
  color: white;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  text-align: right;
  width: 100%;
}
